<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>home</h1>
    <a href="/babbage"><img src="/img/CharlesBabbage.jpg" alt="Foto de Charles Babbage"></a><br></br>
    <a href="/berners-lee"><img src="/img/berners-lee.jpg" alt="Foto de Berners-Lee"></a><br></br>
    <a href="/clarke"><img src="/img/clarke.jpg" alt="Foto de Clarke"></a> <br></br>
    <a href="/hamilton"><img src="/img/hamilton.jpg" alt="Foto de Hamilton"></a><br></br>
    <a href="/hopper"><img src="/img/hopper.jpg" alt="Foto de Margaret Murray Hopper"></a><br></br>
    <a href="/lovelace"><img src="/img/lovelace.jpg" alt="Foto de Ada Lovelace"></a><br></br>
    <a href="/turing"><img src="/img/turing.jpg" alt="Foto de Alan Turing"></a>
</body>
</html>